<ng-container *ngIf="!user; else loggedIn">
  <h1>Create User</h1>
  <form [formGroup]="createUserForm" (ngSubmit)="saveForm()">
    <label>Username</label><br />
    <input type="text" formControlName="username" /> <br/>
  
    <label>Password</label><br />
    <input type="text" formControlName="password" /> <br/>
  
    <button type="submit">Create User</button>
  </form>
  
  <hr />
  <h1>Login</h1>
  
  <form [formGroup]="loginUserForm" (ngSubmit)="loginForm()">
    <label>Username</label><br />
    <input type="text" formControlName="username" /> <br/>
  
    <label>Password</label><br />
    <input type="text" formControlName="password" /> <br/>
  
    <button type="submit">Login</button>
  </form>
</ng-container>

<ng-template #loggedIn>
  <ul class="user">
    <li>{{username}}
      <ul>
        <li>Profile</li>
        <li>Email Settings</li>
        <li>User Settings</li>
      </ul>
    </li>
  </ul>
</ng-template>