<ng-container *ngIf="!user; else loggedIn">
  <ul>
    <li>
      <span (click)="createUserBtn()">Create User</span>
      <form [formGroup]="createUserForm" (ngSubmit)="saveForm()" [hidden]="!createuser">
        <label>Username</label><br />
        <input type="text" formControlName="username" /> <br/>
        <label>Password</label><br />
        <input type="text" formControlName="password" /> <br/>
        <button type="submit">Create User</button>
      </form>
    </li>
    <li>
      <span (click)="loginUserBtn()">Login</span>
      <form [formGroup]="loginUserForm" (ngSubmit)="loginForm()" [hidden]="!loginuser">
        <label>Username</label><br />
        <input type="text" formControlName="username" /> <br/>
        <label>Password</label><br />
        <input type="text" formControlName="password" /> <br/>
        <button type="submit">Login</button>
      </form>
    </li>
  </ul>
</ng-container>

<ng-template #loggedIn>
  <ul class="user">
    <li>{{username}}
      <ul>
        <li>Profile</li>
        <li>Email Settings</li>
        <li>User Settings</li>
      </ul>
    </li>
  </ul>
</ng-template>