@import 'helpers/colors';

html {
    height: 101%;
    font-size: 12px;
}

* {
    box-sizing: border-box;
}

body {
    // background: map-get($green, "light");
    background: #0e0e0e url('static/assets/background.jpg');
    color: #ffffff;
    font-family: 'Roboto Slab', serif;
    margin: 0;
    padding: 0;
}

.base {
    max-width: 1665px;
    width: calc(100% - 65px);
    padding: 0 80px;
    margin: 0 0 0 65px;
}