@import 'helpers/colors';

html {
    height: 101%;
    font-size: 12px;
}

* {
    box-sizing: border-box;
}

body {
    // background: map-get($green, "light");
    background: #0e0e0e url('static/assets/background.jpg');
    color: #ffffff;
    font-family: 'Roboto Slab', serif;
    margin: 0;
    padding: 0;
}
