
.intro-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 100vh;
    align-content: center;
    justify-content: center;

    img {
        width: 100%;
        max-width: 500px;
        position: relative;
        top: -57px;
    }

    .sign {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        margin: 0;
        width: 100%;
    
        &__word {
            font-size: 9.6rem;
            font-size: 10vw;
            text-align: center;
            line-height: 1;
            color: #d4ffe9;
            animation: green .08s ease-in-out infinite alternate;

            @media(min-width: 1300px) {
                font-size: 11rem;
            }
        
            &:last-child {
                color: #fed1ff;
                animation: pink .08s ease-in-out infinite alternate;
            }
        }
    }
}

  
@keyframes green {
    from {
        text-shadow:
        0 0 6px rgba(0,228,125,0.92),
        0 0 30px rgba(0,228,125,0.34),
        0 0 12px rgba(30,249,242,0.52),
        0 0 21px rgba(30,249,242,0.92),
        0 0 34px rgba(30,249,242,0.78),
        0 0 54px rgba(30,249,242,0.92);
    }
    to {
        text-shadow:
        0 0 6px rgba(0,228,125,0.98),
        0 0 30px rgba(0,228,125,0.42),
        0 0 12px rgba(30,249,242,0.58),
        0 0 22px rgba(30,249,242,0.84),
        0 0 38px rgba(30,249,242,0.88),
        0 0 60px rgba(30,249,242,1);
    }
}

@keyframes pink {
    from {
        text-shadow:
        0 0 6px rgba(251, 4, 99, 0.87),
        0 0 30px rgba(251, 23, 220, 0.34),
        0 0 12px rgba(251,0,240,0.52),
        0 0 21px rgba(251,0,240,0.92),
        0 0 34px rgba(251,0,240,0.78),
        0 0 54px rgba(251,0,240,0.92);
    }
    to {
        text-shadow:
        0 0 6px rgba(231,0,200,0.98),
        0 0 30px rgba(231,0,220,0.42),
        0 0 12px rgba(231,0,240,0.58),
        0 0 22px rgba(231,0,240,0.84),
        0 0 38px rgba(231,0,240,0.88),
        0 0 60px rgba(231,0,240,1);
    }
}
