@import '../../../../styles/helpers/fonts';
@import '../../../../styles/helpers/colors';

.base {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: #000000;
}

article {
    background: #ffffff;
    width: 100%;

    h2 {
        font-size: 6rem;
        text-transform: uppercase;
        margin: 40px 0 30px;
        padding: 0 0 5px;
        line-height: 1;
        border-bottom: 5px solid black;
    }

    img {
        display: block;
        max-width: 1500px;
        max-height: 300px;
    }

    div {
        ::ng-deep p {
            font-size: 1.6rem;
            line-height: 2.8rem;
            margin: 0 0 20px;
            color: #000000;
        }

        ::ng-deep img {
            width: 100%;
        }
    }

    .backBtn {
        display: block;
        background: map-get($green, "light");
        color: #000000;
        padding: 10px 30px;
        text-decoration: none;
        margin: 20px 0;
        font-size: 1.4rem;
        transition: all 0.2s;
        line-height: 1.8;

        &:hover {
            background: map-get($green, "ligher");
        }
    }

    .details {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;

        .tags {
            width: 100%;
        }

        .user-info {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
        }

        .revised-dates {
            margin-left: auto;

            p {
                font-size: 1rem;
            }
        }
    }
}

.comments {
    width: 70%;
    margin-top: 5px;
    background: #f9f9f9;
    padding: 10px;

    .comment {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        margin: 0 0 10px;
        padding: 10px;
        background: #ffffff;

        .userpic {
            display: flex;
            flex-direction: column;
            width: 30%;
            max-width: 100px;
            margin: 0 20px 0 0;

            img {
                width: 100%;
                border-radius: 5px;
            }
        }

        .info {
            width: 100%;

            p {
                font-size: 1.6rem;
                line-height: 1;
                margin: 0;
            }

            .username {
                position: relative;
                display: flex;
                align-items: flex-end;
                flex-direction: column;
                border-bottom: 1px dotted black;
                padding: 0 0 3px;
                margin: 0 0 5px;

                @media(min-width: 769px) {
                    flex-direction: row;
                }

                aside {
                    font-size: 0.8rem;

                    @media(min-width: 769px) {
                        margin-left: auto;
                    }
                }
            }
        }
    }
}