<article>
  <a routerLink="/articles">Back To Articles</a>
  <div class="container">
    <img [src]="singleArticle?.article_header">
    <h2>{{singleArticle?.article_title}}</h2>
    <div [innerHTML]="singleArticle?.article_text"></div>
  </div>
  <div class="container">
    <div class="comments">
      <div *ngFor="let s of comment">
        <div class="comment">
          <div class="userpic">
            <img [src]="s.userinfo.extra_user_info[0].user_picture">
          </div>
          <div class="info">
            <div class="username">
              <p>{{ s.userinfo.username }}</p>
              <aside>{{s.created_date | date: 'MMMM d, yyyy' }}</aside>
            </div>
            <p>{{s.text}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="thestuffhere">
      ADS
    </div>
  </div>
</article>