@import '../../../../styles/helpers/colors';


nav {
    background: #000000;
    position: fixed;
    height: 100vh;
    margin: 0 40px 0 0;
    padding: 20px 0;
    width: 65px;
    transition: all 0.5s;
    overflow: hidden;

    &:hover {
        width: 235px;

        ul {
            li {
                span {
                    &.text {
                        opacity: 1;
                    }
                }
            }
        }
    }

    img {
        display: block;
        width: 50px;
        margin: 0 auto;
    }

    ul {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        height: 100%;
        margin: 0 auto;
        padding: 0;

        li {
            padding: 20px;
            list-style: none;
            width: 235px;

            span {
                &.svg {
                    svg {
                        fill: #d4ffe9;
                        max-width: 25px;
                    }
                }

                &.text {
                    margin-left: 30px;
                    opacity: 0;
                    transition: all 0.3s;
                    transition-delay: 0.5s;
                    display: inline-block;
                    width: 135px;
                    position: relative;
                    top: -4px;
                }
            }   

            &:last-child {
                margin: auto 0 0;
            }

            a {
                text-decoration: none;
                color: map-get($green, "light");
                font-family: 'Roboto Slab', serif;
                text-transform: uppercase;
                font-size: 2rem;

                &:hover {
                    color: map-get($green, "ligher");
                }
            }
        }
    }   
}
